@import url('https://fonts.googleapis.com/css?family=Oswald:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;  
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #333;

}

.box{
    position: relative;
    height: 200px;
    transform-style: preserve-3d;
    animation: animate 16s linear infinite;

}

@keyframes animate {

    0%
    {
        transform: rotateX(-20deg) rotateY(360deg);
    }
    100%
    {
        transform: rotateX(-20deg) rotateY(0deg);
    }
    
}

.box div
{
    position: absolute;
    inset: 0;
    transform-style: preserve-3d;
}

.box div .block span
{
position:absolute;
left: calc(50% - 100px);
width: 200px;
height: 100px;
background: #444;
transform: rotateY(calc(90deg * var(--i))) translateZ(100px);
transition:  0.5s;

}